<template name="addNewClient">
  <form class="main form page">
    <div class="form-group">
      <label class="control-label" for="company">Company</label>
      <div class="controls">
          <input name="company" id="company" type="text" value="" placeholder="Company" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="url">URL</label>
      <div class="controls">
          <input name="url" id="url" type="text" value="" placeholder="URL" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="phone">Phone</label>
      <div class="controls">
          <input name="phone" id="phone" type="text" value="" placeholder="Phone" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>