<template name="addNewComment">
  <form class="main form page">
    <div class="form-group">
      <label class="control-label" for="subject">Subject</label>
      <div class="controls">
          <input name="subject" id="subject" type="text" value="" placeholder="Subject" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="body">Body</label>
      <div class="controls">
          <input name="body" id="body" type="text" value="" placeholder="Body" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="caseID">CaseID</label>
      <div class="controls">
          <input name="caseID" id="caseID" type="text" value="" placeholder="CaseID" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>